

 /* -------------   ---- -- MI CODIGO 👇 -- ---- ----------- */

 /* .grid-container{
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr ;
  background-color: #09394c;
  margin: auto;
  width: 80vh;
  height: 80vh;

  
 } */

 /* .grid-items{
    background-color: #094c38;
    margin: 2px;
 
    text-align: center;
    justify-content: center;
    border-radius: 15px;
   
 } */

body{
  background: rgb(161,15,15);
background: linear-gradient(100deg, rgba(161,15,15,1) 29%, rgba(49,52,90,1) 78%);
}

 .grid-container{
  display: flex;
  height: 80vh;
  width: 80vh;
  background-color: #d02626
 }

.divOne{
  /* background-color: #26d0ae; */
  /* width: 400px;
  height: 400px; */
  width: 50vh;
  display: flex;
  
  justify-content: space-between;
  
}
.divsInside{
  background: rgb(219,125,47);
background: linear-gradient(183deg, rgba(219,125,47,1) 53%, rgba(249,213,0,1) 97%);
  width: 50px;
  height: 100px;
  margin: 2px;
  display: inline-block;
  

}

img{
  width: 80%;
}











